#root {
  /*max-width: 1740px;*/
  margin: 0 auto;
  padding-top: 138px;
  padding-left: 90px;
  padding-right: 90px;
}

body::-webkit-scrollbar {
  display: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo-href {
  width: 10%;
  justify-content:center;
}
.logo-main {
  display: flex;
  width: 100%;
}
.divider-bar {
  width: 1px;
}
.cont-get-st {
  width: 50%;
}
.img-get-st {
  width: 50%;
}
.img-Welcome {
  width: 100%;
  object-fit: contain;
}
.why-features {
  width: 100%;
}
.why-feature {
  width: 30%;
}
.feature-img {
  width: 100%;
}
.how-works-title {
  width: 30%;
}
.how-works-text {
  width: 70%;
}

.custom-font {
  font-family: 'ClashGrotesk-Regular';
}

.nav-tab {
  font-size: 28px;
}